main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto
}

.optionContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.inpContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.inpContainer p {
    text-align: center;
}

#output {
    font-size: 1.5rem;
}

input {
    border-radius: 0.5rem;
}

button {
    color: white;
    background-color: #267ada;
    border: 1px solid #565151;
    border-radius: 5px;
}